.footer-nav_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 12px;

}



.footer-nav_link{
    text-decoration: none;
    color: black;
    margin: 2.5px;
    transition: 0.3s;
}
.footer-nav_link:hover{
    color: #3f3f3f;
}
.newsline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsline_items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.newsline_item_wrapper{
    width: 640px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 24px;
    background-color: transparent;
    border-radius: 16px;
    transition:  0.3s;

}
.newsline_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;

}
.newsline_item_wrapper:hover{
    /* background-color: #c0c0c0; */
}
.newsline_item_img{
    object-fit: cover;
    width: 192px;
    height: 192px;
    border-radius: 16px;
}
.newsline_item_info{
    margin-left: 24px;
}
.newsline_item_plank{
    width: 100%;
    border: 1px solid;
}
.news_img{
    width: 640px;
    height: 480px;
    object-fit: cover;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_main_wrapper_descr{
    width: 640px;
}