.services_list_item{
    width: 800px;
    background-color: silver;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  transition: 0.3s;
  border-radius: 16px;
  box-shadow: 0px 0px 15px #282c34;
  }
  .services_list_item:hover{
  background-color: gray;
  }

  .services_list_item_descr{
    margin-left: 15px;
  }

  .services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service_page_wrapper_main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.service_page_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .service_page_descr_price{
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    background-color: cadetblue;
    text-align: center;
    box-shadow: 0 0 8px #3f3f3f;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .service_page_descr{
    margin-left: 60px;
  }
  .service_page_props_cons{
    width: 640px;
    display: flex;
  }

  .form_ipoteka{
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 24px;
    background-color: lightgray;
    border-radius: 14px;
    box-shadow: 0 0 16px #000;
  }

  .cnt_ipoteka{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_ipoteka_submit{
    width: 220px;
    height: 48px;
    font-weight: 600;
    font-size: 14pt;
    margin: 16px;
    border-radius: 8px;
    border: none;
    background-color: lightgreen;
    box-shadow: 0 0 12px #000;
  }
  .field{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }