.admin_table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:hover{
    font-weight: 600;
  }

  .admin_table__serach_holder{
    width: 320px;
    height: 32px;
    font-size: 14pt;
    text-align: left;
    margin: 24px;
    padding: 8px;

  }
  .admin_table__table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn_table{
    padding: 5px;
    margin-right: 4px;
    border: none;
    border-radius: 8px;
    /* background-color: lightgreen; */
    cursor: pointer;
  }
  .btn_change{
    background-color: yellow;
  }
  .btn_change:hover{
    background-color: darkgoldenrod;
  }
  .btn_del{
    background-color: red;
    color: white;
  }
  .btn_del:hover{
    background-color: brown;
  }
  .btn_modal_del{
    width: 64px;
    font-size: 18pt;
  }
  .btn_cancel_modal{
    background-color: lightgreen;
  }

  .btn_modal_del{
    margin: 24px;
    border: none;
    border-radius: 8px;
    padding: 8px;

  }

  .del_modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }