*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html {
	/* background-color: orange; */
  height: 100%;
}
.wrapper {
  min-height: calc(100vh - 178px);
  /* padding-bottom: 80px; */
}
footer {

}
.App {
  display: flex;
  flex-direction: column;

}

.page-of-estate__main-info_iimg{
  height: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2, h3, h4, h5 {
  margin-top: 12pt;
  margin-bottom: 12pt;
}
p{
  margin-top: 6pt;
  margin-bottom: 6pt;
}
.page-of-estate__right_h3{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18pt;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img_1{
  width: 100%;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.fgg{
  text-shadow:0px 0px 19px #282c34 ;

}
.ffrr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}
.items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.item{
  width: 320px;
  background-color: silver;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
transition: 0.3s;
border-radius: 16px;
box-shadow: 0px 0px 15px #282c34;
}
.item:hover{
background-color: gray;
}
.price_state{
  font-size: 14pt;
  font-weight: 600;
}
.Auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 512px;
}
.admin_denied{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* input{
  width: 320px;
  height: 48px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 4px;
  font-size: 18pt;
  background-color: #fff;
  transition: 0.3s;
  text-align: center;

} */
/* input:hover{
  background-color: lightcyan;
  color: black;
  border: 4px solid;

} */

.estate_info{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  margin: 64px;
}
.page-of-estate{
}
.page-of-estate__detail_info{
  width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.page-of-estate__detail_info__build_info{
  display: flex;
  flex-direction: column;
}
.page-of-estate__main-info{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.page-of-estate__left{
  width: 40%;
  margin-right: 50px;
}
.page-of-estate__left_img_tag-thumb{
  margin: 8px 8px 8px 0;
  width: 144px;
  height: 96px;
  object-fit: cover;
}
.page-of-estate__right_price{
  padding: 8px;
  border-radius: 4px;
  background-color: cadetblue;
  text-align: center;
  box-shadow: 0 0 8px #3f3f3f;
  margin-top: 25px;
  margin-bottom: 25px;
}
.page-of-estate__left_img_carousel{
  width: 640px;
}
.page-of-estate__right_empl_info{
  display: flex;
  flex-direction: column;

}
.page-of-estate__right_empl_info_bage_image{
  width: 64px;
  height: 64px;
  border-radius: 32px;
  object-fit: cover;
  margin-left: 8px;
}
.page-of-estate__right_empl_info_bage{
  display: flex;
  align-items: center;
  margin: 12px;
}
.page-of-estate__right_empl_info_bage_link{
  font-size: 14pt;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.page-of-estate__right{
  margin-left: 192px;
}
.btn-inf{
  margin: 8px;
  width: 300px;
  height: 48px;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  background-color: forestgreen;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px #3f3f3f;
}
.btn-inf:hover{
  background-color: lightgreen;

}
/* style={{margin: "32px", fontSize: "14pt", padding: "8px", border:"none", borderRadius:"12px", backgroundColor: "lightgreen", boxShadow: "0px 0px 25px black", cursor: "pointer"}} */

.btn_land, .Auth_submit{
  margin: 32px;
  font-size: 14pt;
  padding: 8px;
  border: none;
  border-radius: 12px;
  background-color: lightgreen;
  box-shadow: 0px 0px 10px black;
  transition: 0.3s;
  cursor: pointer;
}
.btn_land:hover{
  background-color: forestgreen;
}
.header-nav_mob{
  display: none;
}
.header-nav_a{
  padding-left: 24px;
  padding-right: 24px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14pt;
  text-decoration: none;
  color: black;
}
.Auth_in{
  margin-top: 10px;
  margin-bottom: 10px;
}
label{
 margin-right: 15px;
 font-size: 16pt;
}
.Auth_input{
  font-size: 16pt;
  padding: 8px;
  border: none;
}
.Auth_input:hover{
  background-color: none;
  border: none;
}
.line{
  width: 256px;
  height: 1px;
  border: 1px solid;
  
}
.Auth_label{
  font-size: 12pt;
}
.Auth_submit{
  margin: 5px;
  width: 160px;
}

.Auth_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* For mobile */

@media only screen and (max-width: 500px) {
  .header-nav_mob{
    display:block;
  }
.header-nav_mob_modal{
  position: absolute;
  width: 100%;
  top: 63px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  padding-top:25px;
  padding-bottom:16px;
  margin: 0;
}
.header-nav_a{
  font-size: 8pt;
}

  .img_1{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }
  .fgg{
    font-size: 12px;
    text-shadow:0px 0px 19px #282c34 ;
    text-align: center;
  
  }
  .header-nav{
    display: none;
  }
  .last_ad_estate__h2{
    font-size: 14pt;
  }
  .btn_land{
    margin: 16px;
    font-size: 8pt
  }
}



/* For 4:3 Screens */
@media only screen and (max-width:1023px) {

  .img_1{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }

.header-nav_a{
  font-size: 10pt;
}
  .fgg{
    font-size: 12px;
    text-shadow:0px 0px 19px #282c34 ;
    text-align: center;
  
  }

  .last_ad_estate__h2{
    font-size: 14pt;
  }
  .btn_land{
    margin: 16px;
    font-size: 8pt
  }

}





@media print {
  .info-img{
      display: none;
  }
  .info{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items:flex-start
      }
      .estate_info{
          flex-direction: column;
      }

}